body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
iframe {
    position: absolute;
    border:0;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

}

div.gag-animation{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    pointer-events: none;
    -webkit-animation-duration: 10s;
    -webkit-animation-name: moveIn;
    -moz-animation-name: moveIn;
    animation-name: moveIn;
    transition-timing-function: ease-out;
}

div.sale-box {
    position: absolute;
    left: 0px;
    width: 69px;
    height: 34px;
    line-height: 34px;
    font-size: 25px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4c6b22 !important;

    /*pointer-events: none;*/
    color: #ffffff;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: sale;
    -moz-animation-name: sale;
    animation-name: sale;
}

@-webkit-keyframes moveIn {
    0% {
        -webkit-transform: scale(0.2,0.2);
        top: 100%;
    }

    100% {
        -webkit-transform: scale(1,1);
        top: 0%;
    }

}


@-webkit-keyframes sale {
    0% {
        opacity: 1;
        top: 0%
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
        top: 100%;
    }
} 
