body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

iframe {
    position: absolute;
    border:0;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

div.gag-animation{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    pointer-events: none;
    -webkit-animation-duration: 10s;
    -webkit-animation-name: moveIn;
    -moz-animation-duration: 10s;
    -moz-animation-name: moveIn;
    animation-name: moveIn;
}

div.sale-box {
    position: absolute;
    left: 0px;
    width: 69px;
    height: 34px;
    line-height: 34px;
    font-size: 25px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4c6b22 !important;

    pointer-events: none;
    color: #ffffff;
    -webkit-animation-name: sale;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;

    -moz-animation-name: sale;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 2s;
    -moz-animation-name: sale;

    animation-name: sale;
}

@-webkit-keyframes moveIn {
    0% {
        -webkit-transform: scale(0.2,0.2);
        top: 100%;
    }

    100% {
        -webkit-transform: scale(1,1);
        top: 0%;
    }

}


@-webkit-keyframes sale {
    0% {
        opacity: 1;
        top: 0%
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
        top: 100%;
    }
} 

@-moz-keyframes moveIn {
    0% {
        -moz-transform: scale(0.2,0.2);
        top: 100%;
    }

    100% {
        -moz-transform: scale(1,1);
        top: 0%;
    }

}


@-moz-keyframes sale {
    0% {
        opacity: 1;
        top: 0%
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
        top: 100%;
    }
} 

.prepare-gag {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    display: table;
}

.prepare-gag > * {
    display: table-cell;
    vertical-align: middle;
}

.prepare-gag h1 {
    color: #FFF;
    text-align: center;
    font-family: "League Gothic";
    font-weight: normal;
    font-size: 6em;
    padding-bottom: 1em;
    margin: 0;
}

.prepare-loader {
    display: inline-block;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}

.prepare-loader > img {
    max-width: 463px;
    max-height: 463px;
    height: 30%;
}
