body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

iframe {
    position: absolute;
    border:0;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

div.gag-animation{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    pointer-events: none;

    -webkit-animation: moveIn 10s;
    animation: moveIn 10s;
  }

div.sale-box {
    position: absolute;
    left: 0px;
    width: 69px;
    height: 34px;
    line-height: 34px;
    font-size: 25px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4c6b22 !important;

    pointer-events: none;
    color: #a4d009;

    -webkit-animation: sale infinite 2s;
    animation: sale infinite 2s;

    will-change: top, opacity;
  }

/** -webkit-keyframes */
@-webkit-keyframes moveIn {
    0% {
        -webkit-transform: scale(0.2,0.2);
        top: 100%;
    }
    100% {
        -webkit-transform: scale(1,1);
        top: 0%;
    }

}
@-webkit-keyframes sale {
    0% {
        opacity: 1;
        top: 0%;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
        top: 100%;
    }
}

/** keyframes */
@keyframes moveIn {
    0% {
        transform: scale(0.2,0.2);
        top: 100%;
    }
    100% {
        transform: scale(1,1);
        top: 0%;
    }
}
@keyframes sale {
    0% {
        opacity: 1;
        top: 0%;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
        top: 100%;
    }
}

.prepare-gag {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    display: table;
}

.prepare-gag > * {
    display: table-cell;
    vertical-align: middle;
}

.prepare-gag h1 {
    color: #FFF;
    text-align: center;
    font-family: "League Gothic";
    font-weight: normal;
    font-size: 6em;
    padding-bottom: 1em;
    margin: 0;
}

.prepare-loader {
    display: inline-block;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s;
}

.prepare-loader > img {
    max-width: 463px;
    max-height: 463px;
    height: 30%;
}

.sunburst {
    position: absolute;
    z-index: -1;
    bottom:-10%;
    right: -60%;
}

.sunburst .outer {
   width: 2000px;
   height: 910px;
   padding-top: 1090px;
   /*margin: -800px 0 0 -310px;*/
   -webkit-animation: rotate_sunburst 2s infinite linear;
   animation: rotate_sunburst 2s infinite linear;
   will-change: transform;
}

.sunburst b {
   display: block;
   width: 0;
   height: 0;
   border-width: 90px 1000px;
   margin: -180px 0 0 0;
   border-color: transparent rgba(255, 204, 0, 0.22);
   border-style: solid;
}

.sunburst b:nth-child(1) {
   transform:rotate(20deg);
}

.sunburst b:nth-child(2) {
   transform:rotate(40deg);
}

.sunburst b:nth-child(3) {
   transform:rotate(60deg);
}

.sunburst b:nth-child(4) {
   transform:rotate(80deg);
}

.sunburst b:nth-child(5) {
   transform:rotate(100deg);
}

.sunburst b:nth-child(6) {
   transform:rotate(120deg);
}

.sunburst b:nth-child(7) {
   transform:rotate(140deg);
}

.sunburst b:nth-child(8) {
   transform:rotate(160deg);
}

.sunburst b:nth-child(9) {
   transform:rotate(180deg);
}

@-webkit-keyframes rotate_sunburst {
    from { -webkit-transform: rotate(0deg); }
    to   { -webkit-transform: rotate(20deg); }
}

@keyframes rotate_sunburst {
    from { transform: rotate(0deg); }
    to   { transform: rotate(20deg); }
}
